{% extends 'templates.html' %}
{% block title %}알쓸여잡 - {{gamename}}{% endblock %}
{% load static %}

<!-- 자유게시판 글 조회 HTML 탬플릿 -->

{% block content %}
<style>
    #wrapper {
        width: 100%;
    }
    #team-info {
        border-collapse: collapse;
        border: 3px solid #{{team.team_bgcolor2}};
    }
    #team-info * {
        background-color: #{{team.team_bgcolor1}};
        color: #{{team.team_textcolor1}};
    }
    #team-info td {
        border: 1px solid #{{team.team_bgcolor2}};
        vertical-align: middle; /* td 내용이 세로로 중앙 정렬되도록 설정 */
    }
    #team-info td span {
        vertical-align: middle; /* td 내용이 세로로 중앙 정렬되도록 설정 */
        padding: 0;
    }
    #team-info-1 td {
        height: 200px;
    }
    #team-info-img {
        width: 150px; /* 원하는 폭으로 설정하세요 */
        max-height: 200px;
    }
    /* 이미지를 td의 폭에 맞춥니다 */
    #team-info-img img {
        width: 100%;
        height: auto; /* 비율을 유지하면서 폭에 맞춥니다 */
        max-height: 200px;
    }
    #team-info-name h1 {
        font-size: 35pt;
        font-weight: bolder;
    }
    #team-info-name h2 {
        font-size: 25pt;
        font-weight: bold;
    }
    #team-info-name h3 {
        font-size: 18pt;
    }
    #team-fan-td {
        justify-content: center;
        align-items: center;
    }
    #team-fan-span {
        font-size: 50px; /* 별의 크기를 줄임 */
        justify-content: center;
        align-items: center;
        display: flex;
    }
    #fan-star {
        color: gold; 
    }
    .team-info-span {
        font-size: 15pt;
    }
</style>

<div id="wrapper" align="center">
    <table id="team-info" class="table w-75 my-5">
        <tr id="team-info-1">
            <td id="team-info-img">
                {% with team_image_path="imgs/sports/"|add:game|add:"/team/"|add:team.team_name|add:".svg" %}
                    <img src="{% static team_image_path %}">
                {% endwith %}
            </td>
            <td colspan="2" id="team-info-td">
                <div id="team-info-name">
                    <h1>
                        {{team.team_kname}}
                    </h1>
                    <h2>
                        {{team.team_ename}}
                    </h2>
                    <h3>
                        {{team.team_intro}}
                    </h3>
                </div>
            </td>
            <td id="team-fan-td" class="align-middle" colspan="2" onclick="location.href='/sports/{{game}}/team/{{team.team_id}}/fan'">
                <div id="team-fan-span" class="align-middle">
                    {% if request.user in team.team_fans.all %}
                        <span id="fan-star">★</span>
                    {% else %}
                        <span>☆</span>
                    {% endif %}
                    <span>&nbsp;×&nbsp;{{team.team_fans.count}}</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="team-info-span">감독</span>
            </td>
            <td>
                <span class="team-info-span">{{team.team_manager}}</span>
            </td>
            <td>
                <span class="team-info-span">연고지</span>
            </td>
            <td>    
                <span class="team-info-span">{{team.team_hometown}}</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="team-info-span">소속 리그</span>
            </td>
            <td>
                <span class="team-info-span">{{team.team_league_k}}</span>
            </td>
            <td style="text-align: center;" colspan="2">
                <a class="team-info-span" href="{{team.team_site}}">공식 사이트</a>
            </td>
        </tr>
    </table>
    <div class="d-flex justify-content-center my-5" style="clear:both">
        <button type="button" class="btn btn-primary btn-lg mx-2" onclick="location.href='/sports/{{game}}/team';">목록으로</button>
    </div>
    <div class="w-50 justify-content-center" style="clear:both;">
        {% if user.is_active %}
        <div class="card">
            <form method="post" action="/sports/{{game}}/team/{{team.team_id}}/addtalk/" id="talk-register" onsubmit="return check_talk();"> {% csrf_token %}
                <div class="card-body">
                    <h4>톡 작성</h4>
                    <div class="row align-items-center">
                        <div class="col-12 col-md mb-2 mb-md-0">
                            <input type="text" name="talk_content" class="form-control" placeholder="톡을 입력하세요">
                        </div>
                    </div>
                    <div class="row align-items-center my-2">
                        <div class="d-flex align-items-center">
                            <input type="text" name="talk_author" class="form-control w-50" value="{{user.user_id}}" disabled>
                            <input type="submit" value="등록" class="btn btn-success mx-3 w-md-auto btn-sm">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
        {% if talk.count > 0 %}
            {% for t in talk %}
            <div class="card my-2">
                <div class="card-body" style="position: relative;">
                    <p style="font-weight: bold; display: inline-block;">
                        {{t.team_talk_author}}
                    </p>
                    {% if t.team_talk_member == user %}
                        <button class="btn btn-sm btn-danger" onclick="confirmReplyDelete('{{ t.team_talk_id|escapejs }}')" style="position: absolute; right: 2%;">삭제</button>
                    {% endif %}
                    <p style="">{{t.team_talk_content}}</p>
                    <p style="font-size: 12px;">{{t.team_talk_wdate}}</p>
                </div>  
            </div>
            {% endfor %}
        {% else %}
        <div class="card my-2">
            <div class="card-body">
                <h4>등록된 톡이 없습니다. 톡을 시작해보세요.</h4>
            </div>  
        </div>
        {% endif %}
</div>

{% endblock %}

{% block script %}
<script>
    const confirmReplyDelete = (talk_id) => {
        if (confirm("삭제하시겠습니까?")) {
            document.location.href='/sports/{{game}}/team/deltalk/' + talk_id;
        }
    }
    const check_talk = () => {
        let title_value = document.getElementById("talk-register").talk_content.value;  
        if (title_value === "") {
            alert("내용을 입력하세요.");
            return false;
        }
        if (title_value.length > 255) {
            alert("톡 내용은 255자 미만이어야 합니다.");
            return false;
        }
        return true;
    }
</script>
{% endblock %}
