{% extends "templates.html" %}

{% block title %}글쓰기{% endblock %}

{% block content %}
    <h1>글쓰기</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">제목:</label>
        <input type="text" id="title" name="title" required><br>
        
        <label for="content">내용:</label>
        <textarea id="content" name="content" required></textarea><br>
        
        <label for="image">이미지:</label>
        <input type="file" id="image" name="image"><br>
        
        <button type="submit">작성</button>
    </form>
{% endblock %}
