{% extends 'templates.html' %}

{% block title %}알쓸여잡 메인페이지{% endblock %}

{% block content %}

{% load static %}
<div class="container px-4 py-5" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" style='background-image: url("{% static 'imgs/sushi.jpg' %}");'>
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-white">음식</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" style='background-image: url("{% static 'imgs/horse.jpg' %}");'>
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-white">유머</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" style='background-image: url("{% static 'imgs/audience.jpg' %}");'>
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-white">스포츠</h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" style='background-image: url("{% static 'imgs/business.jpg' %}");'>
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-white">경제</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}