{% extends 'main/main.html' %}
{% block title %} border 수정 페이지 {% endblock %}
{% block content %}
<style>
    body {
        background-color: white;
    }
    .container {
        margin-top: 50px;
    }
    .card {
        border: 1px solid #ced4da;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .card-header {
        background-color: #333333;
        color: #fff;
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .card-title {
        font-size: 24px;
    }
    .table th {
        background-color: #333333;
        color: #fff;
        border-color: #333333;
    }
    .table td {
        border-color: #333333;
    }
    .form-control {
        border-color: #ced4da;
    }
    textarea.form-control:disabled,
    input.form-control:disabled {
        background-color: #e9ecef;
    }
</style>

<div class="container">
    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-header text-center">
            <h3 class="card-title mb-0">게시판 수정 페이지</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                <table class="text-center table table-bordered w-100">
                    <tr>
                        <th>제목</th>
                        <td><input type='text' class="form-control" 
                                name='title' value='{{ border.title }}'></td>
                    </tr>
                    <tr>
                        <th>수정일</th>
                        <td>{{ border.updatetime }}</td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td><textarea name='contents' class="form-control" style="resize:none" 
                            rows="10">{{ border.contents }}</textarea></td>
                    </tr>
                </table>
                <div class="d-flex justify-content-center mt-4">
                    <button type='submit' class="btn btn-success btn-lg mx-2">수정</button>
                    <button type='button' class="btn btn-danger btn-lg mx-2"
                        onclick="document.location.href='/economy/boarddetail/{{ border.id }}'">
                        취소</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
