{% extends 'main/main.html' %}
{% block title %}상세페이지{% endblock %}
{% block content %}
<div>
    <h3 class="text-center mb-4">게시판 상세 페이지</h3>
    <table class="text-center table table-bordered border-primary w-50" align="center">
        <tr>
            <th>제목</th>
            <td>{{ border.title }}</td>
        </tr>
        <tr>
            <th>수정일</th>
            <td>{{ border.updatetime }}</td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea class="form-control" style="resize:none" 
                rows="10" disabled>{{ border.contents }}</textarea></td>
        </tr>
    </table>
</div>

{% endblock %}