{% extends 'main/main.html' %}
{% block title %}경제게시판{% endblock %}
{% block content %}

<style>
</style>


<h3 class="text-center">
게시판
  </h3>
    <div style="height:540px">

    <div class="container">
        <div class="table-responsive">
        <table class="table table-striped table-bordered border-primary text-center" style="width: 100%" align="center">
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="width: 5%">번호</th>
                    <th scope="col" style="width: 50%">제목</th>
                    <th scope="col" style="width: 20%">작성자</th>
                    <th scope="col" style="width: 15%">조회수</th>
                </td>
                </tr>
            </thead>
            <tbody>
                {% for value in border %}
                <tr>
                    <td>{{ value.id }}</td>
                    <td><a href="{% url 'BD:FBBDTL' value.id %}" class="text-truncate">{{ value.title }}</a></td>
                    <td>{{ value.writer }}</td>
                    <td>{{ value.hits }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    




    <ul class="pagination d-flex justify-content-center">
        {% if border.has_previous %}
            <li class="page-item">
                <a href="/ecnomony/financeboard/{{ border.previous_page_number }}/" 
                    class="page-link">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a href="" class="page-link">Previous</a>
            </li>
        {% endif %}

        {% for i in page_num %}
            {% if border.number == i %}
                <li class="page-item active"><a href="/economy/financeboard/{{i}}" class="page-link">{{i}}</a></li>    
            {% else %}
                <li class="page-item"><a href="/economy/financeboard/{{i}}/" class="page-link">{{i}}</a></li>    
            {% endif %}
        {% endfor %}
        
        {% if border.has_next %}
            <li class="page-item">
                <a href="/economy/financeboard/{{ border.next_page_number }}/" 
                    class="page-link">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a href="" 
                    class="page-link">Next</a>
            </li>
        {% endif %}
    </ul>



    <div class="d-flex justify-content-center">
        {% if user.is_active %}
        <button type="button" class="btn btn-success btn-lg"
            onclick="document.location.href='/economy/boardadd/'">글쓰기</button>
        {% endif %}
    </div>

    </div>









    
{% endblock %}