{% extends 'templates.html' %}

{% load static %}

{% block content %}
<!-- 스포츠 종목별 페이지 HTML 탬플릿 -->
    <style>

    </style>
    <div id="main-content">
        <div id="main-title">
            <h1>{{game}}</h1>
        </div>
        <div class="sect" style="background: linear-gradient(to right, silver, transparent)" onclick="location.href='#'">
            <div class="sect-button" id="baseball-button"></div>
            <div class="sect-text">야구</div>
        </div>
        <div class="sect" style="background: linear-gradient(to right, skyblue, transparent)" onclick="location.href='#'">
            <div class="sect-button" id="football-button"></div>
            <div class="sect-text">축구</div>
        </div>
        <div class="sect"  style="background: linear-gradient(to right, gold, transparent)" onclick="location.href='#'">
            <div class="sect-button" id="sportsetc-button"></div>
            <div class="sect-text">기타</div>
        </div>
    </div>

{% endblock %}