{% extends 'templates.html' %}
{% block title %}알쓸여잡 - {{gamename}}{% endblock %}
{% load static %}

<!-- 자유게시판 글 조회 HTML 탬플릿 -->

{% block content %}
<style>
    #wrapper {
        min-height: 100%;
    }
</style>

<div id="wrapper">
    <table class="text-center table table-bordered border- table-striped w-50 my-5" align="center">
        <tr class="align-middle">
            <th>제목</th>
            <td><h2>{{post.title}}</h2></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td>{{post.author}}</td>
        </tr>
        <tr>
            <th>작성일</th>
            <td>{{post.wdate}}</td>
        </tr>
        <tr>
            <th>최근 수정일</th>
            <td>{{post.udate}}</td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea class="form-control" style="resize:none" rows="15" disabled>{{post.content}}</textarea></td>
        </tr>
    </table>
    <div class="d-flex justify-content-center" style="clear:both">
            <button type="button" class="btn btn-secondary btn-lg mx-2" onclick="document.location.href='javascript:history.back()';">뒤로가기</button>
            <button type="button" class="btn btn-primary btn-lg mx-2" onclick="location.href='/sports/baseball/board/1';">목록으로</button>
        {% if user.username == post.author %}
            <!-- 수정, 삭제 구현 후 링크 추가 필요 -->
            <button type="button" class="btn btn-warning btn-lg mx-2" onclick="document.location.href='/sports/baseball/board/post/{{post.id}}/update';">수정</button>
            <button type="button" class="btn btn-danger btn-lg mx-2" onclick="document.location.href='/sports/baseball/board/post/{{post.id}}/delete';">삭제</button>
        {% endif %}
    </div>
</div>

{% endblock %}