{% extends 'templates.html' %}
{% block title %}알쓸여잡 - {{gamename}}{% endblock %}
{% load static %}
{% load math_tag %}

<!-- 자유게시판 리스트 HTML 탬플릿 -->

{% block content %}
<style>
    #wrapper {
        min-height: 100vh;
    }
    #main-title {
        margin: 50px 10%;
        text-align: center;
        padding: 10px;
        border-bottom: 2px solid silver;
    }
</style>

<div id="wrapper">
    <!-- 타이틀 부분 (무슨 종목 게시판인지는 game(영어), gamename(한국어)으로 알 수 있음) -->
    <div id="main-title">
        <h1>{{gamename}} 게시판</h1>
    </div>
    <!-- 게시글 목록 테이블 -->
    <div>
        <table class="table table-striped table-hover text-center" style="width:70vw" align="center">
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>댓글수</th>
                    <th>추천도</th>
                </tr>
            </thead>
            <tbody>

            {% if post.paginator.count > 0 %}
                {% for value in post %}
                    <tr onclick="location.href='/sports/{{game}}/board/post/{{value.post_id}}'">
                        <td style="max-width: 50vw;">{{value.post_title}}</td>
                        {% if value.post_author_nn != value.post_author %}
                            <td>{{value.post_author_nn}}({{value.post_author}})</td>
                        {% else %}
                            <td>{{value.post_author}}</td>
                        {% endif %}
                        <td>{{value.post_views}}</td>
                        {% if value.reply_count > 0 %}
                            <td style="color:blue; font-weight: bold;">{{value.reply_count}}</td>
                        {% else %}
                            <td>{{value.reply_count}}</td>
                        {% endif %}
                        {% if value.like_count > value.dislike_count %}
                            <td style="color:green; font-weight: bold;">{% substract value.like_count value.dislike_count %}</td>
                        {% elif value.like_count < value.dislike_count %}
                            <td style="color:red; font-weight: bold;">{% substract value.like_count value.dislike_count %}</td>
                        {% else %}
                            <td>{% substract value.like_count value.dislike_count %}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="5"><h3>작성된 글이 없습니다.</h3></td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <!-- 게시글 페이징 영역 -->
    <ul class="pagination d-flex justify-content-center">
        {% if post.has_previous %}
            <li class="page-item"><a href="/sports/{{game}}/board/{{post.previous_page_number}}" class="page-link">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><a href="" class="page-link">Previous</a></li>
        {% endif %}
        {% for i in page_num %}
            {% if post.number == i %}
                <li class="page-item active"><a href="/sports/{{game}}/board/{{i}}/" class="page-link">{{i}}</a></li>
            {% else %}
                <li class="page-item"><a href="/sports/{{game}}/board/{{i}}/" class="page-link">{{i}}</a></li>
            {% endif %}
        {% endfor %}
        {% if post.has_next %}
            <li class="page-item"><a href="/sports/{{game}}/board/{{post.next_page_number}}/" class="page-link">Next</a></li>
        {% else %}
            <li class="page-item disabled"><a href="" class="page-link">Next</a></li>
        {% endif %}
    </ul>

    <!-- 버튼 영역 -->
    <div class="d-flex justify-content-center">
        <!-- user.active 적용 필요 -->
        <button type="button" class="btn btn-primary btn-lg mx-2" onclick="document.location.href='/sports/{{game}}'">메인으로</button>
        {% if user.is_active %}
            <button type="button" class="btn btn-success btn-lg mx-2" onclick="document.location.href='/sports/{{game}}/board/create'">글쓰기</button>
        {% endif %}
    </div>
</div>


{% endblock %}