{% extends 'templates.html' %}

{% block title %}알쓸여잡 음식 지역별 페이지{% endblock %}

{% load static %}

{% block script %}
<script src="{% static 'js/main/comm.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container px-4 py-5" style="height: 46rem;">
    <h4 class="mb-3">음식 추가</h4>
    <form name="addFoodForm" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
        <div class="mb-3 row">
            <label for="food_writer" class="col-sm-2 col-form-label">작성자</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="food_writer" name="writer" required>
                <div class="invalid-feedback">
                    작성자를 입력하세요.
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="food_title" class="col-sm-2 col-form-label">제목</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="food_title" name="title" required>
                <div class="invalid-feedback">
                    제목을 입력하세요.
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="food_content" class="col-sm-2 col-form-label">내용</label>
            <div class="col-sm-4">
                <textarea class="form-control" id="food_content" name="content" rows="10" style="resize: none;" required></textarea>
                <div class="invalid-feedback">
                    내용을 입력하세요.
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="food_area" class="col-sm-2 col-form-label">지역명</label>
            <div class="col-sm-4">
                <select class="form-select" id="food_area" name="area_name">
                    <option value="노량진">노량진</option>
                    <option value="봉천">봉천</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="food_type" class="col-sm-2 col-form-label">음식 종류</label>
            <div class="col-sm-4">
                <select class="form-select" id="food_type" name="food_type">
                    <option>전체</option>
                    <option value="한식">한식</option>
                    <option value="중식">중식</option>
                    <option value="일식">일식</option>
                    <option value="아시아">아시아</option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <input class="form-control" type="file" id="food_file" name="files" style="width: 39rem;" multiple>
        </div>
        <hr class="my-5">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-success me-md-2">저장</button>
            <button type="button" class="btn btn-secondary" onclick="moveMain();">메인화면</button>
        </div>
    </form>
    <script src="{% static 'js/main/check.js' %}"></script>
</div>
{% endblock %}